#include "Version.hpp"
#include <winres.h>

#pragma code_page(65001)

VS_VERSION_INFO VERSIONINFO
    FILEVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_PATCH
    PRODUCTVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_PATCH
    FILEFLAGSMASK 0x3fL
    FILEFLAGS FILE_VERSION_FLAG
    FILEOS 0x40004L
    FILETYPE 0x2L
    FILESUBTYPE 0x0L
BEGIN  
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"    
        BEGIN
            VALUE "CompanyName", "DivanadiumPentaoxide"
            VALUE "FileDescription", "Packet Violation Debugger for Minecraft Bedrock Client"
            VALUE "FileVersion", FILE_VERSION_STRING
            VALUE "InternalName", "PacketViolationDebugger.dll"
            VALUE "OriginalFilename", "PacketViolationDebugger.dll"
            VALUE "ProductName", "PacketViolationDebugger"
            VALUE "ProductVersion", FILE_VERSION_STRING
            VALUE "LegalCopyright", "Copyright (c) 2026 @ DivanadiumPentaoxide"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
